/* 
Arquivo de CSS(Cascade Style Sheet - Folha de estilo em Cascata
é utilizado para fazer a camada de formatação de um site em 
html.
*/
/* 
Vamos formatar todos os elementos presentes em um página html
usando o *(asterisco) e aplicar margem externa e interna zero(0)
e realizar o ajuste das caixas em html
*/
* {
  margin: 0px; /*Margem externa das caixas*/
  padding: 0px; /*Margem interna das caixas*/
  box-sizing: border-box; /*ajuste de padding das caixas sem a soma com a largura*/
}
header {
  height: 400px; /*aplicar altura do cabeçalho*/
  background-image: url("../img/cafeteria4.jpg"); /*Aplicar uma imagem de fundo*/
  background-size: 100%; /*Ajustar o tamanho da imagem de fundo*/
  background-position-y: -175px;
  padding-top: 200px;
  text-align: center;
}

h1 {
  font-family: Arial;
  font-size: 50pt;
  color: rgb(255, 208, 0);
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

nav {
  background-color: rgb(68, 29, 2);
  padding: 10px;
  box-sizing: border-box;
  font-size: 15pt;
  text-align: center;
  transition: ease 1s;
}

nav ul li {
  display: inline-block;
  margin-inline: 100px;
}

nav ul li a {
  color: rgb(255, 208, 0);
  font-family: Arial;
  text-decoration: none;
}

main {
  padding: 20px;
  box-sizing: border-box;
  background-image: url("../img/madeira.jpg");
  background-size: 100%;
}

footer {
  background-color: rgb(68, 29, 2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}

#endereco {
  font-family: Arial;
  font-size: 10pt;
  color: rgb(255, 208, 0);
  width: 300px;
  text-align: left;
  position: absolute;
  left: 20px;
}

#redes {
  position: absolute;
  right: 10px;
}

#redes ul {
  list-style: none;
}

#redes ul li {
  display: inline-block;
  margin-inline: 10px;
}

#redes ul li a img {
  width: 40px;
  height: 40px;
}

/* =====================Formatação página Home===================== */
h2 {
  font-family: "Lucida Sans";
  font-size: 50pt;
  text-align: center;
  color: bisque;
  border-bottom: 1px dashed;
  padding-top: 20px;
  box-sizing: border-box;
  text-shadow: 5px 5px 5px black;
}

main p {
  margin: 30px;
  font-family: arial;
  font-size: 25pt;
  color: beige;
  width: 80%;
  text-align: justify center;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

#imghome {
  text-align: center;
}

#imghome img {
  height: 300px;
  width: 300px;
  border-radius: 60px;
  opacity: 0.9;
  margin: 100px;
  transition: ease 1s;
}

#imghome img:hover {
  opacity: 1;
  transform: scale(1.2);
  transform: rotate(360deg);
}
/* =====================Fim Formatação Home===================== */
/*===================Formatação História===================*/
#imghistoria {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#imghistoria img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

#videohistoria {
  text-align: center;
}

#videohistoria iframe {
  width: 60%;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*===================fim formatação história===================*/
/*===================Inicio formatação cardápio===================*/
h3 {
  text-transform: uppercase;
  font-size: 30pt;
  text-align: center;
  font-family: Arial;
  color: bisque;
  text-shadow: 2px 2px 2px black;
}

#linha {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#linha #produto {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin: 10px;
  margin-inline: 5px;
  padding-left: 20 px;
}

#linha #produto #imgprod img {
  width: 225px;
  height: 175px;
  border-radius: 5%;
}

#linha #produto #imgprod,
#linha #produto #descricao {
  width: 48%;
  margin: 10px;
  transition: ease 0.5s;
}

#linha #produto #descricao {
  color: bisque;
  margin: 10px;
}

h4 {
  font-family: Arial;
  font-size: 20pt;
  font-weight: lighter;
  color: rgba(192, 172, 147, 0.897);
  text-shadow: 2px 2px 2px black;
}

h5 {
  font-family: Arial;
  font-size: 10pt;
  font-weight: lighter;
  color: bisque;
  text-shadow: 2px 2px 2px black;
}

h6 {
  font-family: Arial;
  font-size: 15pt;
  font-weight: lighter;
  color: rgba(150, 134, 114, 0.897);
  text-shadow: 2px 2px 2px black;
}

#linha #produto:hover {
  background-color: rgba(88, 80, 70, 0.849);
  cursor: pointer;
  border-radius: 7.5%;
}

/*===================Fim Configuração Cardápio===================*/
/*===================Configuração mapa===================*/
#mapa {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#mapa iframe {
  width: 100%;
  height: 400px;
}
/*===========fim mapa===========*/


#abrir, #fechar{
  display: none;
}




/*===========Area de responsividade===========*/
/*Smartphones*/
@media (min-width:0px) and (max-width:576px){
  header{
    width:100%;
    height: 200px;
    background-size: 120%;
    background-position-y: -75px;
    padding-top: 100px;
  }
  h1 {
    font-family: Arial;
    font-size: 25pt;
    color: rgb(255, 208, 0);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
  }
  nav {
    padding-top: 75px;
    font-size: 20pt;
    text-align: left;
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: -200px;
  }
  nav ul li {
    display: block;
    margin-inline: 5px;
    text-align: left;
    margin-bottom: 100px;
  }
  #abrir{
    background-color: rgb(68, 29, 2);
    height: 50px;
    width: 50px;
    padding: 10px;
    font-size: 15pt;
    display: block;
    text-decoration: none;
    color:rgb(255, 208, 0);
    position: absolute;
    left: 0px;
    top: 0px;
  }

  #fechar{
    height: 50px;
    width: 50px;
    padding: 10px;
    font-size: 15pt;
    display: block;
    font-size: 30pt;
    text-decoration: none;
    color:rgb(255, 208, 0);
    position: absolute;
    left: 150px;
    top: 0px;
  }
  #imghome img {
    height: 250px;
    width: 250px;
    border-radius: 60px;
  }
}
